In [9]:
import pandas as pd
import numpy as np

In [28]:
bang = pd.DataFrame([[1, 3], [2, 4]])
# data_csv = pd.read_csv('')
# bang.info()
# bang.shape
bang.iloc[0, 1]
bang.loc[0, 1]
# bang[bang[1] > 3]
bang["cotmoi"] = [1, 1]
bang

   0  1  cotmoi
0  1  3       1
1  2  4       1

In [46]:
df = pd.DataFrame([[1, 2], [3, 4]])
df['is_digit'] = df.apply(lambda x: True, axis=0)
df

   0  1  is_digit
0  1  2      True
1  3  4      True